<!-- <div class="container my-2">
    <h1 class="h1 text-center" style="color: cadetblue;"><b>🔥 <u>BEST DEALS FOR YOU</u> 🔥</b></h1>

    <div class="row" id="posts-container">
    </div>
</div> -->
<div class="container my-2">
    <h1 class="h1 text-center" style="color: cadetblue;"><b>🔥 <u>BEST DEALS FOR YOU</u> 🔥</b></h1>

    <div class="card" style="width: 18rem;">

        <div class="row" id="posts-container">
        </div>
    </div>
</div>
<script src="/app/allcontent.js"></script>
<script>
    loadProducts()
</script>