{{!-- <script async defer src="/app/common.js"></script> --}}
<div id="navbar"></div>
<div>
    <form id="container" action="/addproduct" method="POST" enctype="multipart/form-data">
        <h1>ENTER YOUR PRODUCT DETAILS</h1>
        <div class="form-group">
            <label>Product Name</label><br>
            <input type="text" class="form-control" name="itemname" placeholder="Enter Product Name"><br>
        </div>
        <br>

        <div class="custom-file">
            <label class="custom-file-label">Product Image</label><br>
            <input type="file" class="custom-file-input" id="customFile addbtn" name="itemimg">
        </div>
        <br>

        <div class="form-group">
            <label for="">Set Price</label><br>
            <input type="number" min="100" class="form-control" name="price" placeholder="Set Price">
        </div>
        <br>

        <div class="form-group">
            <label>Your Contact Details</label><br>
            <center>
                <textarea classcontainer="form-control" aria-label="With textarea" name="contact"
                    placeholder="Enter Your Contact Details"></textarea>
            </center>
        </div>
        <br>
        <center>
            <button type="submit" class="btn btn-primary">Submit</button>
        </center>
    </form>
</div>

<style>
    body {
        background-color: wheat;
    }

    #container {
        height: 735px;
        width: 800px;
        background-color: black;
        opacity: 0.7;
        position: absolute;
        border-radius: 10px;
        padding-left: 20px;
        top: 10%;
        left: 33%;
        color: white;
        transform: translate(50% 50%);
    }

    #container h1 {
        font-size: 32px;
        margin-left: 30px;

        border-bottom: solid wheat 4px;
        margin-bottom: 40px;
    }

    input {
        font-size: 25px;
        color: white;
        width: 90%;
        overflow: hidden;
        margin-top: 20px;
        margin-left: 30px;
        margin-right: 10px;
        margin-bottom: 20px;
        text-align: center;
        border: none;
        background: none;
        border-bottom: solid wheat 2px;
    }

    input i {
        font-size: 25px;
    }

    input input {
        background: none;
        border: none;
        color: white;
        font-size: 24px;
    }

    label {
        font-size: 27px;
    }

    textarea {
        margin-top: 20px;
        font-size: 20px;
        width: 577px;
        height: 104px;
        padding: 10px;
        color: white;
        background-color: transparent;
    }


    button {
        width: 120px;
        height: 40px;
        margin: 12px 170px;
        padding: 5px;
        padding-bottom: 40px;
        background: none;
        color: white;
        font-size: 25px;
        border-radius: 15px;
    }

    button:hover {
        background: red;
    }
</style>