<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELL THAT OUT--PIYUSH ANAND</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <script defer src="/js/jquery.js"></script>
    <script defer src="/js/popper.js"></script>
    <script defer src="/js/bootstrap.js"></script>


    <script defer src="/app/common.js"></script>
    <link rel="stylesheet" href="/app/common.css">
</head>

<body>

    <body>
        <div id="navbar"></div>
        <div id="content"></div>
        <div id="footer"></div>
    </body>


</body>

</html>