<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script defer src="/app/common.js"></script>
    <link rel="stylesheet" href="/app/common.css">

    <style>
        .sign-up {
            width: 90%;
            position: absolute;
            top: 10%;
            margin-left: 4%;
            background-color: black;
            opacity: 0.5;
            color: wheat;
            transform: translate(50% 50%);
            border-radius: 15px;
        }

        .sign-up h1 {
            margin-left: 30px;
            margin-right: 210px;
            font-size: 48px;
            border-bottom: solid cadetblue 4px;
            margin-bottom: 40px;
        }

        .input {
            color: whitesmoke;
            width: 90%;
            overflow: hidden;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 25px;
            border: none;
            background: none;
            border-bottom: solid cadetblue 2px;
        }

        .input i {
            font-size: 25px;
        }

        .input input {
            background: none;
            border: none;
            color: white;
            font-size: 24px;
        }

        .button {
            width: 120px;
            height: 40px;
            margin: 12px 170px;
            padding: 5px;
            padding-bottom: 40px;
            background: none;
            color: white;
            font-size: 25px;
            border-radius: 15px;
        }

        .button:hover {
            background: red;
        }
    </style>
</head>

<body>
    <div class="sign-up">
        <h1>Signup</h1>

        <form action="/signup" method="POST">
            <input class="input" type="text" name="username" id="username" placeholder="Choose A Username">
            <br>
            <input class="input" type="email" name="email" id="email" placeholder="Enter your Email ID">
            <br>
            <input class="input" type="password" name="password" id="password" placeholder="Create Password">
            <br>
            <input class="button" type="submit" value="Signup">

            <center>
                <div>
                    <a href="/login">
                        <h3>Already Having Account!! LOGIN</h3>
                    </a>
                </div>
            </center>
        </form>
    </div>
</body>

</html>